*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Inter',sans-serif;
    background-color: #0f172a;;
    color: #f1f5f9;;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    color:inherit;
}
html{
    scroll-behavior:smooth;
}
header{
    width:100%;
    padding:20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
    background: rgba(15,23,42,0.8);
    backdrop-filter: blur(10px);
}
nav ul{
    display:flex;
    gap:30px;
}
nav a{
    font-size:16px;
    font-weight:500px;
}
nav a:hover{
    color: #2563eb;
}
.logo{
    font-size:24px;
    font-weight: 700;
    color:#2563eb;
}
section{
    padding:100px 10%;
}